pandas
numpy<2.0
cython<3.0
scikit-learn
Pillow
fastapi
uvicorn
streamlit
joblib
python-multipart
plotly
textblob
faker
nltk
scikit-surprise
prophet
statsmodels
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-groq
langchain-ollama
pypdf
chromadb
sentence-transformers
folium
streamlit-folium
geopy
branca